*.egg-info
*.pyc
.pytest*
*.sqlite3
.tox
.coverage
.coverage.*
.eggs
.cache
.python-version
.venv
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyo                   

/build/
/dist/
/docs/_build/
/htmlcov/
/.mypy_cache/



# Editors
.idea/
/venv/
/env/
/.vscode/
/.vscode-test/

